<div class="learning-facts">
    <!-- Form to add new Learning Fact -->
    <form (ngSubmit)="onSubmit()" #factForm="ngForm">
      <div class="form-group">
        <label for="content">New Fact Content</label>
        <textarea id="content" class="form-control" [(ngModel)]="newFactContent" name="content" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!factForm.valid">Add Fact</button>
    </form>

    <hr>

    <h2>Learning Facts for: {{ packageName$ | async }}</h2>>
    <ul *ngIf="learningFacts$ | async as learningFacts; else noFacts">
      <li *ngFor="let fact of learningFacts">
        <p>{{ fact.content }}</p>
      </li>
    </ul>
  
    <ng-template #noFacts>
      <p>No learning facts available for this package.</p>
    </ng-template>
  </div>
  